/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'Bakbak One', cursive;
    src: local('BakbakOne'), url("/home/arpan/dev/lpass_client/assets/fonts/BakbakOne-Regular.ttf") format('ttf');
  }
}

/* My Stlyes */
.container {
  min-width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}
